/* 
   ┌──────────────────────────────┐
   │     Created by Rishita P     │
   │     My Original Project      │
   └──────────────────────────────┘
*/

body{
	font-family: 'Open Sans',sans-serif;
	color: #919191;
	background-color: #ffffff
;
}
#container{
	 width: 110%;
    height: 100vh; 
    background-image:  url(bgImg.jpg);
	margin: 0 0px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}


#calculator { 
    width: 320px;
    height: 520px;
    background-color: #000000;
    border-radius: 20px;
	margin: 0 auto;
	top: 120px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #7c7e7f;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #ac94a2;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ac94a2;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #ac94a2;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #ac94a2;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #ac94a2;
}

/* 
   ┌──────────────────────────────┐
   │     Created by Rishita P     │
   │     My Original Project      │
   └──────────────────────────────┘
*/
